<!-- <div class="container">
  <form [formGroup]="form">
    <div class="form-row">
      <div class="col">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="First name"  formControlName="firstName">
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label>Sobrenome</label>
        <input type="text" class="form-control" placeholder="Last name" formControlName="lastName">
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <button type="button" class="btn btn-primary" (click)="addAlias()">Add Alias</button>
      </div>
    </div>    
    <div formArrayName="aliases">
      <h3>Aliases</h3>
      <div class="form-row" *ngFor="let alias of aliases.controls; let i=index">        
        <label>New Field</label>
        <input type="text" class="form-control" [formControlName]="i">
      </div>
    </div>
  </form>
  <br />
  <br />
  <br />
  <br /> -->

  <div style="margin-left: 20px;">
    <h2>Job Application for Heroes</h2>
    <app-dynamic-form [questions]="questions$ | async"></app-dynamic-form>
  </div>
<!-- 
  <div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      {{ formJson }}
    </div>
  </div> -->